<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale-1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<title>纠错详情</title>
		<link rel="stylesheet" type="text/css" href="../../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/app.css">
		<style>
			body,
			html,
			.mui-content,
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
			}
		</style>
	</head>

	<body>
		<div class="mui-content content" >
			<h2 class="tit-cont">社会保险缴费单位人员变动</h2>
			<div>
				<div class="mui-table-cell sub-tit-txt-consult">2018-06-01</div>
				<div class="mui-table-cell sub-tit-txt-consult">个人</div>
			</div>
			<div>
				<p class="txt-content">本页面内申请材料部分，提供的电子表单下载，内容为空。这是我要纠错的网页地址——http://t.cn/RTDNLjw</p>
			</div>
			<div class="mui-card-content images-content">
				<img src="../../../images/errorcorrectiondetail2.png" alt="" width="100%" />
			</div>
			<div style="float:left ;">
				<p class="cont-foot">(办结)</p>
			</div>
			<div class="mui-text-right">
				<p class="cont-foot-right"><span>处理时间：2018-06-01</span></p>
			</div>
		</div>
		<h3 class="info-tit"></h3>

		<ul class="mui-table-view">
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-4">
						<h5 class="mui-ellipsis-2 h5-color" >处理意见：</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >感谢您对我们工作的支持，目前表单下载已能正常使用。</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-4">
						<h5 class="mui-ellipsis-2 h5-color" >处理单位：</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >市信息局</span>
					</div>
				</div>
			</li>
		</ul>
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
	</body>

</html>