<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale-1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<title>资讯详情</title>
		<link rel="stylesheet" type="text/css" href="../../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/app.css">
		<style>
			body,
			html,
			.mui-content,
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
				tab-interval: 21pt;
				text-justify-trim: punctuation;
			}
			
			p {
				text-indent: 2em;
				margin: 10px 0 15px;
				font-size: 15px;
				line-height: 23px;
				color: #333;
			}
		</style>
	</head>

	<body>
		<div class="mui-content content">
			<h2 class="tit-cont-info">合肥市516路公交调整线路走向</h2>
			<div class="mui-table sub-tit-txt">
				<div class="mui-table-cell">时间：2018-06-29</div>
				<div class="mui-table-cell">来源：合肥公交集团</div>
			</div>
			<p>
				为扩大公交线网服务覆盖面，方便合肥市繁华大道及衡山路沿线大型小区居民外出乘坐公交车出行，经现场勘查并报经上级批准，合肥公交集团公司自2018年7月9日起优化调整516路公交线路走向及停靠站点。
			</p>
			<p>
				516路公交线路走向：从“顺和家园”公交首末站发车，经文山路～汤口路～恒山路～繁华大道～杭埠路～明珠路～香樟大道～习友路，抵达“柳树塘”公交站；返程时，516路公交车从“柳树塘”公交站发车，途经习友路～香樟大道～明珠路～杭埠路～繁华大道～恒山路～汤口路～文山路，抵达“顺和家园”公交首末站。
			</p>
			<p>
				516路公交停靠站点：顺和家园、古城村、汤恒路口、长恒路口、繁玉路口、繁祝路口、河东、张圩子、杭宁路口、杭埠路、杭菖路口、明杭路口、玉竹路、格力工业园、明珠站、香樟花园、深港产业园、柳树塘；返程时，516路公交车停靠柳树塘、深港产业园、香樟花园、明珠站、格力工业园、玉竹路、明杭路口、杭菖路口、杭埠路、杭宁路口、张圩子、河东、繁祝路口、繁玉路口、长恒路口、汤恒路口、古城村、顺和家园。
			</p>
			<p>
				又讯：因合肥市三河路（金寨南路-潭冲路段）改造项目即将启动建设，相关部门将对该路段实施道路全封闭施工，由此影响32路公交车正常通行。经现场勘查并报上级批准，合肥公交集团公司自2018年7月1日起调整32路公交线路走向及停靠站点。
			</p>
			<p>
				32路公交线路走向：从“亿力机械（上派）”发车，经人民路～站前路～巢湖路～仙霞路～金寨南路～天海路～翡翠路～南二环路～怀宁路（单边）～高河西路（单边）～华阳路（返回）～佛子岭路（返回）～行政外环路，抵达“市政务办公区西”。
			</p>
			<p>
				32路公交停靠站点：亿力机械（上派）、肥西党校、上派中学、站前路、巢站路口（单边）、肥西三中（返回）、仙霞路、三青、卫星社区、肥光、肥光小学、肥西县医院、安徽财贸学院、幸福大街、紫翡路口、翡翠湖、合工大新区、群英、丹霞西路、繁翡路口、安医大二附院（返回）、平塘站、兴泰广场、天鹅湖畔小区、市政务办公区东（返回）、市政务办公区北（返回）、市政务办公区西。（李克武 方成）
			</p>
		</div>
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
	</body>

</html>