<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale-1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<title>咨询详情</title>
		<link rel="stylesheet" type="text/css" href="../../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/app.css">
		<style>
			body,
			html,
			.mui-content,
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
			}
		</style>
	</head>

	<body>
		<div class="mui-content content" >
			<h2 class="tit-cont">关于社保账户查询</h2>
			<div>
				<div class="mui-table-cell sub-tit-txt-consult">2018-03-07</div>
				<div class="mui-table-cell sub-tit-txt-consult">个人</div>	
			</div>
			<div>
				<p class="txt-content">你好，上午咨询了一次了，金融社保卡是六安的（全省统一的卡），社保账户和金融账户均在农村激活完成，单位从去年八月份开始替我在合肥缴纳社保，请问在合肥这边的社保和金融账户需要在合肥再激活一次吗？网上查询合肥的账户查询不到？如何查询？打扰了~</p>
			</div>
			<div class="mui-card-content images-content">
				<img src="../../../images/consultdetail4.jpg" alt="" width="100%" />
			</div>
			<div style="float:left ;">
				<p class="cont-foot">(办结)</p>
			</div>
			<div class="mui-text-right">
				<p class="cont-foot-right"><span>处理时间：2018-03-07</span></p>
			</div>
		</div>
		<h3 class="info-tit"></h3>

		<ul class="mui-table-view">
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-4">
						<h5 class="mui-ellipsis-2 h5-color" >处理意见：</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >您可以登录合肥的社保网站查询，密码可以输入个人编号。</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-4">
						<h5 class="mui-ellipsis-2 h5-color" >处理单位：</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >合肥市人社局</span>
					</div>
				</div>
			</li>
		</ul>
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
	</body>

</html>