<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale-1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<title>咨询详情</title>
		<link rel="stylesheet" type="text/css" href="../../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/app.css">
		<style>
			body,
			html,
			.mui-content,
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
			}
		</style>
	</head>

	<body>
		<div class="mui-content content" >
			<h2 class="tit-cont">无法进行企业核名和注册登记</h2>
			<div>
				<div class="mui-table-cell sub-tit-txt-consult">2018-03-12</div>
				<div class="mui-table-cell sub-tit-txt-consult">个人</div>	
			</div>
			<div>
				<p class="txt-content">无法进行企业核名和注册。显示错误是：未找到对应用户信息，请重新获取。请问是什么原因？</p>
			</div>
			<div class="mui-card-content images-content">
				<img src="../../../images/consultdetail2.png" alt="" width="100%" />
			</div>
			<div style="float:left ;">
				<p class="cont-foot">(办结)</p>
			</div>
			<div class="mui-text-right">
				<p class="cont-foot-right"><span>处理时间：2018-03-12</span></p>
			</div>
		</div>
		<h3 class="info-tit"></h3>

		<ul class="mui-table-view">
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-4">
						<h5 class="mui-ellipsis-2 h5-color" >处理意见：</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >您好，建议您换一台电脑尝试，原因：可能是电脑不兼容或者安装插件不完整导致的。</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-4">
						<h5 class="mui-ellipsis-2 h5-color" >处理单位：</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >合肥市工商行政管理局</span>
					</div>
				</div>
			</li>
		</ul>
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
	</body>

</html>