<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale-1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<title>关于</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/app.css">
		<style>
			body,
			html,
			.mui-content,
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
			}
			
			p {
				text-indent: 2em;
				margin: 10px 0 15px;
				font-size: 15px;
				line-height: 23px;
				color: #333;
			}
		</style>
	</head>

	<body>
		<div class="mui-content content">

			<div style="margin-top: 20px;">
				<p>“合肥市民通APP”依托合肥市大数据平台和政务服务平台，以合肥市公共服务清单为基础实现对与百姓生活相关政务信息资源和便民信息资源的整合，构建合肥市统一的社会综合服务平台，打造政府信息惠民、社会服务品牌，满足百姓生活医、食、住、行、学、娱、业、诉等各方面的信息需求，构建政府与百姓的沟通渠道，拓宽监管网络，创建安全、文明的城市环境。</p>
			</div>
			<div align="center" class="pos-set">
				<p>主办：合肥市人民政府</p>
				<p>承办：科大国创软件股份有限公司</p>
			</div>
		</div>
		<script type="text/javascript" src="../js/mui.min.js"></script>
	</body>

</html>