<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale-1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<title>小学初中报名问题咨询电话</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/app.css">
		<style>
			body,
			html,
			.mui-content,
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
			}
			
			p {
				text-indent: 2em;
				margin: 10px 0 15px;
				font-size: 15px;
				line-height: 23px;
				color: #333;
			}
		</style>
	</head>

	<body>
		<div class="mui-content ">
			<h2 class="tit-content">小学初中报名问题咨询电话</h2>
			<ul class="mui-table-view">
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-4">
						<h5 class="mui-ellipsis-2 h5-color1" >部门</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >咨询电话</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-6">
						<h5 class="mui-ellipsis-2 h5-color1" >瑶海区教体局</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >(0551)64494987</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-6">
						<h5 class="mui-ellipsis-2 h5-color1" >庐阳区教体局</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >(0551)65699982</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-6">
						<h5 class="mui-ellipsis-2 h5-color1" >蜀山区教体局</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >(0551)65597677</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-6">
						<h5 class="mui-ellipsis-2 h5-color1" >包河区教体局</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >(0551)63357137</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-8">
						<h5 class="mui-ellipsis-2 h5-color1" >经开区社会发展局</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >(0551)63679104</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-8">
						<h5 class="mui-ellipsis-2 h5-color1" >高新区社会事业局</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-12 mui-text-right">
						<span class="mui-h5 span-color" >(0551)65318011</span>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell ">
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-10">
						<h5 class="mui-ellipsis-2 h5-color1" >新站高新区社会事业局</h5>
					</div>
					<div class="mui-table-cell mui-col-xs-10 mui-text-right">
						<span class="mui-h5 span-color" >(0551)65777122</span>
					</div>
				</div>
			</li>
		</ul>
		</div>
		<script type="text/javascript" src="../js/mui.min.js"></script>
	</body>

</html>