<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wangy.mobile.klsk">

    <!-- 连接网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许格式化可移除的存储仓库的文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许读取电话的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 现在你可以在你的Activity中使用以下代码改变或提高任何线程的优先级 -->
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <!-- 允许应用写（非读）用户的外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许一个程序访问CellID或WiFi来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许一个程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 允许程序读取所有者数据 -->
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <!-- 允许一个程序写入但不读取所有者数据 -->
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 有关系统设置的权限，如快捷方法等 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--允许应用读写系统设置项。-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--允许应用可以接收点亮屏幕或解锁广播。-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--允许应用震动。-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.ustcinfo.mobile.hft.permission.JPUSH_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".application.HApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/appName"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".ui.activity.MainActivity">

        </activity>


        <provider
            android:name=".ui.custom.MyProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.ustcinfo.mobile.hft" />
            </intent-filter>
        </receiver>



    </application>

</manifest>