<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale-1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<title>资讯详情</title>
		<link rel="stylesheet" type="text/css" href="../../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/app.css">
		<style>
			body,
			html,
			.mui-content,
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
				tab-interval: 21pt;
				text-justify-trim: punctuation;
			}
			
			p {
				text-indent: 2em;
				margin: 10px 0 15px;
				font-size: 15px;
				line-height: 23px;
				color: #333;
			}
		</style>
	</head>

	<body>
		<div class="mui-content content">
			<h2 class="tit-cont-info">2018年6月下旬生活饮用水水质信息</h2>
			<div class="mui-table sub-tit-txt">
				<div class="mui-table-cell">时间：2018-06-29</div>
				<div class="mui-table-cell">来源：合肥供水集团</div>
			</div>
		</div>
		<div class="mui-card-content images-content">
			<img src="../../../images/lifedetail.png" alt="" width="100%" />
		</div>
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
	</body>

</html>