<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale-1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<title>资讯详情</title>
		<link rel="stylesheet" type="text/css" href="../../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/app.css">
		<style>
			body,
			html,
			.mui-content,
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
				tab-interval: 21pt;
				text-justify-trim: punctuation;
			}
			
			p {
				text-indent: 2em;
				margin: 10px 0 15px;
				font-size: 15px;
				line-height: 23px;
				color: #333;
			}
		</style>
	</head>

	<body>
		<div class="mui-content content">
			<h2 class="tit-cont-info">停水通知</h2>
			<div class="mui-table sub-tit-txt">
				<div class="mui-table-cell">时间：2018-06-29</div>
				<div class="mui-table-cell">来源：合肥供水集团</div>
			</div>
			<p>
				因配合南淝河路建设需要，合肥供水集团计划于2018年7月3日23:00--7月4日11:00，对南淝河路新建管道进行并网勾点施工。届时，南淝河路（上海路——长春街）沿线用户用水将受影响。具体停水范围：卫乡村，平塘王村，李城村，安凯厂（淝河路厂区及葛淝路厂区），安凯小区，葛淝路沿线区域等。具体降压范围：包河工业区范围内所有单位及住宅小区的直供水用户。含包河苑（A区，B区，C区，D区，E区，F区），包河花园（A区、B区，C区，D区，E区，园林小区，建设小区，众望小区），花园大道公租房（欣然居），长白山路公租房等小区的直供水用户。请以上用户适度储水，为确保安全，请您在此期间关闭家中水龙头和用水设施，以免在恢复正常供水时造成浪费或家庭财产损失。
			</p>
			<p>
				恢复供水期间，可能会出现局部短时供水和水质不稳定现象，请用户稍作排放即可。我们将精心安排，尽量缩小影响范围，减少对您的影响。给您造成的不便，深表歉意。如遇用水问题，请您拨打供水服务热线64422666，我们将竭诚为您服务。
			</p>
			<div align="right" style="margin-top: 40px;">
				<p>
					合肥供水集团有限公司</br> 二〇一八年六月二十九日
				</p>
			</div>
		</div>
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
	</body>

</html>