<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale-1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no" />
		<title>资讯详情</title>
		<link rel="stylesheet" type="text/css" href="../../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/app.css">
		<style>
			body,
			html,
			.mui-content,
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
				tab-interval: 21pt;
				text-justify-trim: punctuation;
			}
			
			p {
				text-indent: 2em;
				margin: 10px 0 15px;
				font-size: 15px;
				line-height: 23px;
				color: #333;
			}
		</style>
	</head>

	<body>
		<div class="mui-content content">
			<h2 class="tit-cont-info">7月2日停气通知</h2>
			<div class="mui-table sub-tit-txt">
				<div class="mui-table-cell">时间：2018-06-29</div>
				<div class="mui-table-cell">来源：合肥燃气集团</div>
			</div>
			<p>
				因阜阳北路与金珠路、魏武路两个交口高架北延燃气配套工程建设需要，现定于7月2日21：00至次日6：00对金海路至双凤大道之间的阜阳北路段沿线区域、蒙城北路至阜阳北路之间的金珠路段沿线区域等停气。民用户包括：京冠御园华府、金地雅苑、北城明珠、徐桥苑、阿奎利亚米兰堡、阿奎利亚但丁堡、阿奎利亚别墅等。团体户包括：金诚汽车、中国电信安徽客户服务中心食堂、钱氏餐饮公司等。
			</p>
			<p>
				合肥燃气集团提醒您：停气期间，请注意“一开三关”，即开厨房窗户，关闭灶具开关，关灶前阀，关厨房门，请用户检查并相互转告叮嘱。停气时间结束后，若出现使用不正常等情况，请及时联系蓝焰热线（65133333）。停气期间，给您生活带来的不便，敬请谅解。
			</p>
			
		</div>
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
	</body>

</html>